---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import "../styles/global.css";
import NavbarElement from "./NavbarElement.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href={`/${lang}/insight/`}
      >jpalczewski blog</a
    >
  </div>

  <div class="btn btn-ghost normal-case text-xl visible md:invisible">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </div>

  <div class="flex-none invisible md:visible">
    <ul class="menu menu-horizontal px-1">
      <NavbarElement
        linkDestination={`/${lang}/about-me/`}
        text={t("nav.about-me")}
      />
      <NavbarElement
        linkDestination={`/${lang}/projects/`}
        text={t("nav.projects")}
      />
      <li class="pr-2">
        <details>
          <summary> Posts</summary>
          <ul class="p-2 bg-base-100">
            <NavbarElement
              linkDestination={`/${lang}/insight/`}
              text={t("nav.insight")}
            />
            <NavbarElement
              linkDestination={`/${lang}/personal/`}
              text={t("nav.personal")}
            />
          </ul>
        </details>
      </li>
    </ul>
  </div>
</nav>
