---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import "../styles/global.css";
import NavbarElement from "./NavbarElement.astro";
import MobileMenu from "./MobileMenu.svelte";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href={`/${lang}/insight/`}
      >jpalczewski blog</a
    >
  </div>

  <div class="invisible md:visible flex-none">
    <ul class="menu menu-horizontal px-1">
      <NavbarElement
        linkDestination={`/${lang}/about-me/`}
        text={t("nav.about-me")}
      />
      <NavbarElement
        linkDestination={`/${lang}/projects/`}
        text={t("nav.projects")}
      />
      <li class="pr-2">
        <details>
          <summary> Posts</summary>
          <ul class="p-2 bg-base-100">
            <NavbarElement
              linkDestination={`/${lang}/insight/`}
              text={t("nav.insight")}
            />
            <NavbarElement
              linkDestination={`/${lang}/personal/`}
              text={t("nav.personal")}
            />
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="visible md:hidden">
    <div>
      <MobileMenu client:only="svelte" />
    </div>
  </div>
</nav>
